{% extends "base.html.twig" %}


{% block body %}
    <img src="{{ asset('/Images/Drapeau_Tunisie.jpeg') }}" 
        alt="Tunisie"class="h-32 mt-12 rounded shadow-md" >
   
        <h1 class="mt-5 text-3xl sm:text-5xl font-semibold text-indigo-600">
        Hello From Tunisie
        </h1>

            <p 
                class="text-lg text-gray-800">
                Il est actuellement {{ 'now'|date('H:i') }}
            </p>

{% endblock %}

