{% extends "base.html.twig" %}


{% block body %}
    <h1>Hello From Tunisie</h1>

    <p>Il est actuellement {{ 'now'|date('H:i') }}</p>


    <footer>
        <p>&copy; Copyright Jugson Development&middot;{{ 'now'|date('Y') }}
        &middot;<a href="#">About Us</a></p>
    <footer>
{% endblock %}

